@(user:User, projects:Seq[Project], page:Long, pageLength:Long, count:Long)

@link(newPage: Long) = @{
    routes.Projects.viewProjectList(newPage)
}

@prev() = @{
  if(page > 1){ link(page -1) }else{ link(1) }
}
@next() = @{
    if(page < (count/pageLength + 1)){   link(page + 1)   }else{   link(page)  }
}

@tableNumber(newIndex:Int) = @{
    count - newIndex - ((page-1) * pageLength)
}

@totalPage() = @{
    (count/pageLength + 1) toInt
}

@main(user) {
	<div class="page-header">
    <h3> 프로젝트 목록 <small> | PROJECT LIST</small></h3>
	</div>
  <table class="table table-bordered table-hover">
    <tr class="warning">
        <td>번호</td>            
        <td>과정코드</td>
        <td>프로젝트명</td>
        <td>생성일</td>
       	<td>프로젝트관리</td>
    </tr>
    @for(i <- projects.indices){
      <tr>
        <td>@tableNumber(i)</td>
        <td>@projects(i).project_id</td>
        <td>@projects(i).project_title</td>
        <td>@projects(i).created_at</td>
        <td>          
          <a class="btn btn-success btn-xs" href="@routes.Projects.editProjectPage(projects(i).id.get)">수정</a>
          <a class="btn btn-danger btn-xs btn-projectdelete" id="@projects(i).id">삭제</a>
        </td>
      </tr>
    }
  </table>

  <div class="btn-ctrl-set">
  	<a class="btn btn-info" href="@routes.Projects.newProjectPage">프로젝트 생성하기</a>
  </div>
  </div>  
  @if(count > pageLength){
    <div class="board-pagenavigation">
        <ul class="pagination pagination-sm">
            <li><a href="@prev()">Prev</a></li>
            @for(i <- 1 to totalPage()) {
                @if(i == page){
                    <li class="active"><a href="@link(i)">@i</a></li>
                }else{
                    <li><a href="@link(i)">@i</a></li>
                }
            }
            <li><a href="@next()">Next</a></li>
        </ul>
    </div>
  }
}