@font-face{
    font-family:ng;
    src:url(NanumGothic.eot)
}
//페이지 타이틀 색상
@yellow: #FFCC33;
@light_blue: #78FEFE;

body{

}

#main-container{
   padding-left:40px;
   padding-right:40px; 
}

div.body-container{
    padding-left:100px;
    padding-right:100px;
}

div.page-header{
    h3{
        color:@yellow;
    }
}

div.top-container{
   li a:link, a:hover, a:active, a:visited{
        color:#FFFFFF;
   }

   li.user {
    a:link, a:hover, a:active, a:visited{
        color:@light_blue;
    }
   }
}

/* 하단 버튼 셋트 */
div.btn-ctrl-set{
    text-align: right;
}

/* 페이지 네비게이션 */
div.board-pagenavigation{
    text-align: center;
}

/* footer */

div.footer{
    nav.navbar-fixed-bottom{
        height:40px;
        min-height:40px;         
        div.bottom-center{
          text-align: center;          
          h6{
            color:#FFFFFF;
            a{
                color:@yellow;
            }
          }
       }
   }   
}

/*

div.board-bottom{
    border-radius: 5px;
    background:#CCCCCC;
}

div.board-btn{
    text-align: right;
}

div.board-pagenavigation{
    text-align: center;
}
td.table-number{
    width:10%;
    max-width:10%;
    text-align: center;
}

td.table-name{
    width:10%;
    max-width:10%;
    text-align: center;
}
td.table-title{
    width:50%;
    max-width:50%;
    text-align: left;
}
td.table-file{
    width:10%;
    max-width:10%;
    text-align: center;
}
td.table-date{
    width:10%;
    max-width:10%;
    text-align: center;
}
td.table-read{
    width:10%;
    max-width:10%;
    text-align: center;
}

div.board-date{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

h4.project-list{
    font-weight: bold;
}

p.default-line{
    height:1px;
    width:100%;
    background: #666666;
    margin-top:10px;
    margin-bottom:10px;
}*/

/* board */
div.board-save{
    text-align: right;
}

span.glyphicon.glyphicon-save.btn-download{
    cursor:pointer;
}

td.read-td-naming{
    color:#FFFFFF;
    background: #555555;
    font-weight: bold;
    text-align: center;
}

