@(boards:Board, category:String)

<div class="page-header">
    <h3>@boards.title</h3>
</div>

<div class="page-body">
    <table class="table table-bordered">
        <tr>
            <td class="read-td-naming">작성자</td>
            <td>
                @User.findById(boards.user_id).map { user => 
                    @user.name
                }
            </td>
            <td class="read-td-naming">이메일</td>
            <td colspan="3">
                @User.findById(boards.user_id).map { user => 
                    @user.email
                }
            </td>
        </tr>
        <tr>
            <td class="read-td-naming">파일</td>
            <td>
                @if(!boards.file_name.isEmpty){
                    <span class="glyphicon glyphicon-save btn-download" id="@boards.file_name">@boards.file_name</span>
                }
            </td>
            <td class="read-td-naming">날짜</td>
            <td>@boards.created_at</td>
            <td class="read-td-naming">조회수</td>
            <td>@boards.readings</td>
        </tr>
        <tr>
            <td colspan="6" class="read-td-naming">
                내용
            </td>
        </tr>
        <tr>
            <td colspan="6">
                @boards.body
            </td>
        </tr>
        <tr>
            <td colspan="6" class="read-td-naming">
                댓글
            </td>
        </tr>
    </table>
</div>

<div class="form-group">
    <input type="input" class="form-control" name="title" placeholder="댓글입력" width="70%"><a href="#" class="btn btn-warning file-search">댓글달기</a>
</div>

<div class="board-save">    
    <a href="@routes.Boards.replyBoard(boards.id.get, category)" class="btn btn-success reply">답변하기</a>
    <a href="@routes.Boards.editBoard(boards.id.get, category)" class="btn btn-warning edit">수정하기</a>
    <a href="#" class="btn btn-danger remove" id="@category @boards.id.get">삭제하기</a>    
</div>